  
  body  {
    background-color: #ffffff;
  }
  body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: hsl(212, 72%, 50%); /* Couleur bleue */
    z-index: -1;
  
  }
  /* CSS pour la barre de navigation */
   .navbar {
    background-color: hsl(212, 72%, 50%);
    overflow: hidden;
  }
  .navbar a {
    float: right;
    display: flex;
    color: hsl(0, 0%, 98%);
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 900;

  }
.logo img {
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 95px auto;
  display: inline-block;
  height: 50px;
  width: 95px;
 }