  
  body {
    background-color: #ffffff;
  }
  
  body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: hsl(212, 72%, 50%);
    z-index: -1;
  }
  
  header {
    background-color: hsl(212, 72%, 50%);
    padding: 3px 20px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    height: 55px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .menu {
    list-style-type: none;
    display: flex;
  }
  
  .menu li {
    margin-right: 10px;
  }
  
  .menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .menu li a:hover {
    color: #ff8400;
  }
  
  .navbar .register-link {
    background-color: rgb(255, 255, 255);
    color: hsl(212, 72%, 50%);
    border-radius: 20px 20px;
    padding: 8px 8px;
    text-decoration: none;
  }
  
  .register-link {
    cursor: pointer;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 30px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 600px;
  }
  
  .search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 15px;
  }
  
  .search-button {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 14px 24px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 330px;
  }
  
  footer {
    position: 0;
  }
  
  .download-section {
    position: absolute;
    bottom: 0;
    right: left;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .image1 {
    width: 150px;
    margin-left: 50px;
  }
  
  .image2 {
    width: 145px;
  }
/* Animation des résultats de recherche */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.search-results {
  animation: fadeIn 0.5s ease-in-out;
}

  