body {
    
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
#form-titre {
    color: #000000;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    font-family: "Lobster", cursive;
    
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-family: "Lobster", cursive;

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="telephone"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;

}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #999;
}
